<!DOCTYPE HTML>
<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input message">
            <input type="text" name="tag" placeholder="tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Add message</button>
        </form>
    </div>
    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="tag" placeholder="tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Filter</button>
    </form>
    <table>
    {{#messages}}
        <tr>
            <td>{{id}}</td>
            <td>{{text}}</td>
            <td>{{tag}}</td>
            <td><strong>{{author.getUsername}}</strong></td>
        </tr>
    {{/messages}}
    </table>
</body>
</html>