<#include "security.ftl">
<#import "login.ftl" as l>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sweater</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
            <#if isAdmin>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </#if>
            <#if isAuthorized>
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Profile</a>
                </li>
            </#if>
            <#if isAuthorized>
                <li class="nav-item">
                    <a class="nav-link" href="/users/${user.id}/messages">My messages</a>
                </li>
            </#if>
        </ul>
        <div class="navbar-text">${name}</div>
        <div>
            <@l.logout/>
        </div>
    </div>
</nav>